body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5ff2cd;
    font-size: 20px;
    text-align: center;
    color: black;
}
header {
    text-align: center;
    }

    #hero, footer {
        color: white;
        border: 5px solid #000;
        background-color:#11b0bf;
        text-align: center;
        padding:10px;
    }
    
    #hero img {
        width: 300px;
    }