body{
    font-family: 'Baloo 2', cursive; 
    background-color: #5ff2cd;
    font-size: 20px;
    text-align: center;
    color: black;
}
header {
    text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family:"Bebas Neue";
        font-size: 40pt;
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }

    #hero, footer {
        color: white;
        border: 5px solid #000;
        background-color:#11b0bf;
        text-align: center;
        padding:10px;
    }
    
    #hero img {
        width: 300px;
    }

#reviews {
    max-width: 20px;
    text-align: center;
}